@model IEnumerable<StudentManagementSystem.Models.Teacher>
@{
    ViewBag.Title = "GetTeacher";
}

<h2>Get All Teacher</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Qualification</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Id</td>
                <td>@teacher.FirstName</td>
                <td>@teacher.LastName</td>
                <td>@teacher.Qualification</td>
                <td><a href="@Url.Action("ViewTeacher", "Teacher", new { id= teacher.Id})">View Detail</a></td>
            </tr>
        }
    </tbody>
</table>