@model StudentManagementSystem.Models.Teacher
@{
    ViewBag.Title = "ViewTeacher";
}
@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Teacher")">Home</a></li>
        <li class="breadcrumb-item active"><a href="#">View</a></li>
    </ol>
</nav>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Qualification</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@Model.Id</td>
            <td>@Model.FirstName</td>
            <td>@Model.LastName</td>
            <td>@Model.Qualification</td>
            <td><a href="@Url.Action("Index","Teacher")">Go to List</a></td>
        </tr>

    </tbody>
</table>