@model IEnumerable<StudentManagementSystem.Models.Student>
    @{
        ViewBag.Title = "Index";
    }

    <h2>Get All Student</h2>

<div>
        <form method="get" action="@Url.Action("Index")">
            <label>
                <input type="checkbox" name="showActive"  value="true"
                       @(Request.QueryString["showActive"] == "true" ? "checked" : "") />
                Active Students
            </label>
            <label>
                <input type="checkbox" name="showDeleted" value="true"
                       @(Request.QueryString["showDeleted"] == "true" ? "checked" : "") />
                Deleted Students
            </label>
            <button type="submit" class="btn btn-primary">Filter</button>
        </form>
    </div>

    <div style="text-align: right; margin: 20px;">
        <button onclick="location.href = '@Url.Action("Create","Student")'" class="btn btn-success">Add New</button>
    </div>
    <table class="table text-center" border="1">
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">First Name</th>
                <th scope="col" class="text-center">Last Name</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var student in Model)
                {
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>
                        <a href="@Url.Action("ViewStudent", "Student", new { id= student.Id })"><i class="fa-solid fa-eye" style="font-size:20px;"></i></a>
                        &emsp; <a href="@Url.Action("Update","Student", new { id = student.Id })"><i class="fa-solid fa-pencil" style="font-size:20px;"></i></a>
                        &emsp;
                        <a href="@Url.Action("Delete", "Student", new { id = student.Id })" style="text-decoration:none;">
                            <i class="fa-solid fa-xmark" style="font-size:20px; color:red;"></i>
                        </a>     &emsp;
                        @if(student.IsDeleted) // Only show Restore button for deleted students
                            {
                            <a href="@Url.Action("RestoreStudent", "Student", new { id = student.Id })">
                                <i class="fa-solid fa-rotate-right" style="font-size:20px;"></i>
                            </a>}
                    </td>
                </tr>
                }
        </tbody>
    </table>
