
@{
    ViewBag.Title = "GetById";
}

<nav>
    <ol class="breadcrumb">
        <!--Following action will lead to dashboard in future-->
        <li class="breadcrumb-item"><a href="@Url.Action("Create", "Student")" class="breadcrumb-decor">Home</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Student")" class="breadcrumb-decor">Student</a></li>
        <li class="breadcrumb-item active">View Details</li>
    </ol>
</nav>

<div class="banner-div">
    <h3>Profile Details</h3>
</div>


<div class="card pt-3 mt-3">
    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Full Name</div>
        <div class="col-lg-9 col-md-8">@Model.FirstName @Model.LastName</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8">@Model.Email</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Phone</div>
        <div class="col-lg-9 col-md-8">@Model.PhoneNumber</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">SSN</div>
        <div class="col-lg-9 col-md-8">@Model.SSN</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">DOB</div>
        <div class="col-lg-9 col-md-8">@Model.DateOfBirth</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Zip</div>
        <div class="col-lg-9 col-md-8">@Model.Zip</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">City</div>
        <div class="col-lg-9 col-md-8">@Model.City</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">State</div>
        <div class="col-lg-9 col-md-8">@Model.State</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Country</div>
        <div class="col-lg-9 col-md-8">@Model.Country</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Address</div>
        <div class="col-lg-9 col-md-8">@Model.Address</div>
    </div>
</div>



